@font-face {
    font-family: isosevcal;
    src: url(iosevcal-regular.ttf);
}

day {
    display: grid;
    font-family: 'isosevcal', monospace;
    grid-template-columns: 8ch 1fr;
}

.wider {
    grid-template-columns: 8ch 1fr;
}

.solid {
    border-bottom: solid 1px black;
}

.dashed {
    border-bottom: dashed 1px black;
}

date, time {
    text-align: right;
}

dashed {
    border-bottom: dashed 1px black;
}

solid {
    border-bottom: solid 1px black;
}

pages {
    display: flex;
    font-family: 'isosevcal', monospace;
}

current {
    text-align: right;
    width: 50%
}
