@font-face {
    font-family: isosevcal;
    src: url(iosevcal-regular.ttf);
}

toc {
    display: grid;
    font-family: 'isosevcal', monospace;
    grid-template-columns: 3ch 3ch 21ch 1fr;
}

first, second {
    text-align: right;
    border-right: 1px solid;
    padding-right: 2px;
    margin-right: 2px;
}

third {
    text-align: left;
}

day {
    display: grid;
    font-family: 'isosevcal', monospace;
    grid-template-columns: 10ch 1fr;
}

.right {
    position: relative;
    right: 2px;
    top: 4px;
    font-size: 16px;
}

.left {
    position: relative;
    left: 2px;
    bottom: 2px;
    font-size: 16px;
}


.wider {
    grid-template-columns: 13ch 1fr;
}

.solid {
    border-bottom: solid 1px black;
}

.dashed {
    border-bottom: dashed 1px black;
}

date, time {
    text-align: right;
}

dashed {
    border-bottom: dashed 1px black;
}

solid {
    border-bottom: solid 1px black;
}

pages {
    display: flex;
    font-family: 'isosevcal', monospace;
}

current, reference {
    text-align: right;
    width: 50%
}
